<div class="container">
<h1>Les restaurants</h1>
<ul class="list-group list-group-flush">
    <% @restaurants.each do |restaurant| %>
  <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
</ul>

<button type="button" class="btn btn-outline-info"><%= link_to "New Restaurant", new_restaurant_path(@restaurant) %></button>
</div>
